@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 2px black 52px;
    
}

.numbers-content {
    width: 50px;
    height: 50px;
    font-size: 48px;
    border: 1px black dashed;
    border-right: none;
    border-top: 52px;
    display: flex;
    justify-content: center;
}

.numbers {
    width: 408px;
    height: 408px;
    border: gray 8px ridge;
    display: flex;
    flex-wrap: wrap;
    background-color: #CBCBCB;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

section {
    margin: auto;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.full {
    
    border-width: 4px;
    border-style: ridge;
    display: flex;
    flex-wrap: wrap;
    width: 43px;
    height: 43px;
    background-color: #CBCBCB;
}